/* form starting stylings ------------------------------- */
.group        {
  position:relative;
  margin-bottom:45px;
}

body {
  font-family: Lato, sans-serif;
  padding: 0px;
  margin: 0px;
}

input         {
  font-size:20px;
  padding:10px 10px 10px 5px;
  display:block;
  width:400px;
  border:none;
}

.panel_container {
  transition-duration: 0.5s;
}

input:focus     {
  outline:none;
}
/* Dropdown ===========================================*/

.dropdown-group {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

.dropbtn {
    background-color: #ffffff;
    width: 100%;
    border: 1px solid #FF5722;
    border-radius: .5em;
    color: #FF5722;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown:first-child, #dl_exhibit_beacon, #dl_exhibit {
    margin-bottom: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    width: inherit;
    z-index: 900;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FF5722;
    border: 1px solid #ffffff;
    width: 100%;
    border-radius: .5em;
    color: #ffffff;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

/* bottom button ========================================*/
.submit_btn {
  width: 100%;
  text-align: center;
}
/* SIDE NAVIGATION BAR ======================================*/
.navigation-drawer {
  background: #00bbd4;
  position: fixed;
  width: 25%;
  margin-top: 90px;
  height: 100%;
  font-weight: 900;
  top: 0;
  z-index: 1000;
}

.navigation-drawer h1 {
  color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	background: #008091;
}

.navigation-drawer span {
  display: block;
	color: #afdefa;
  cursor: pointer;
  list-style-type: none;
  background: #00bbd4;
	font-size: 1.1em;
  text-decoration: none;
  padding: 30px 25px;
}

.navigation-drawer span:hover {
  background: #afdefa;
  color: #00bbd4;
  padding: 25px 25px;
  border: 1px;
  display:block;
  border-radius: 2em;
  transition:0.3s ease all;
}

.navigation span:active {
  background: #008091;
	color: #47a3da;
}

input[type=time] {
  display: inline-block;
  border: 1px solid #008091;
  border-radius: .5em;
  width: 35%;
}


input[type=time].ng-invalid.ng-touched {
  border: 1px solid #FF5722;
  display: inline-block;
  border-radius: .5em;
  width: 35%;
}

input[type=text] {
  border: 1px solid #008091;
  border-radius: .5em;
  width: 80%;
}

input[type=text].ng-invalid.ng-touched {
  border: 1px solid #FF5722;
  border-radius: .5em;
  width: 80%;
}

input[type=text].ng-valid.ng-touched {
  border: 1px solid #8BC34A;
  border-radius: .5em;
  width: 80%;
}

/* ERROR VALIDATION P ====================================*/
.error {
  position: relative;
  padding-left: 20%;
  color: #FF5722;
}

.panels .panel_content {
  padding: 15px;
}

/* FORM INTRO ===============================*/
.form_intro {
  margin-bottom: 30px;
}
/* NAVIGATION BAR ======================================= */
.top-bar {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  padding: 0px;
  font-weight: 900;
  border-radius: 0px;
  cursor: pointer;
  list-style-type: none;
  margin: 0px;
  height: 90px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
}

.top-bar li {
  height: auto;
  float: right;
  display: inline;
  font-size: 20px;
  padding: 0px;
}

.top-bar ul {
  padding: 0px;
}
.top-bar a {
  display: block;
  color: #008091;
  height: inherit;
  padding: 30px 25px;
  text-align: center;
  height: 100%;
  text-decoration: none;
}

.top-bar a:hover {
  color: #FFFFFF;
  border: 1px;
  border-radius: 2em;
  background-color: #008091;
  display: block;
  padding: 25px 25px;
  height: inherit;
  transition: 0.3s ease all;
}

.last {
  padding-right: 40px;
}

/* LABEL ======================================= */
label {
  color:#999;
  font-size:22px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:10px;
  top:10px;
  transition:0.3s ease all;
}

/* Button ============================================*/
.btn {
  position: relative;
  color: #ffffff;
  border-radius: .5em;
  border: 0;
  width: auto;
  padding: 15px;
  display: inline-block;
}

.ng-invalid .btn {
  background: gray;
}

.ng-valid .btn {
  background: #8BC34A;
}

.btn:hover {
  background: #008091;
}
/* active state */
input:focus ~ label, input:valid ~ label {
  top:-25px;
  font-size:20px;
  color:#999;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:40%;
  width:70%;
  top:18%;
  left:0;
  pointer-events:none;
  opacity:0.4;*/
}


/* active state */

input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
  from  { background:#00bbd4; }
  to    { width:0; background:transparent; }
}

/* BOTTOM BARS ================================= */

/*.bar  {
  position:relative;
  display:block;
  width:70%;
}

.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#008091;
  transition:0.3s ease all;
}

.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}*/

.hours        {
  position:relative;
  margin-bottom:45px;
}

.hours p:first-child {
  color:#999;
  font-size:22px;
  font-weight:normal;
  margin-bottom:2px;
  position:relative;
  pointer-events:none;
}

.group:first-child {
  top:-15px;
  font-size:18px;
  color:#008091;
}

/** Main panel **/

.panels {
  position: absolute;
  width: 60%;
  margin-left: 35%;
  padding-top: 130px;
  padding-bottom: 50px;
}

.panels h1 {
  color: #999;
}

@media screen and (max-height: 26.375em){

	.navigation-drawer {
		font-size: 90%;
		width: 30px;
	}

/* PANEL Container ====================================/
