<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8">
  <title>Virgil: Curate your mobile museum experience</title>
    <meta name="cms_content" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/panels.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/virgil.js"></script>
	<script src="js/controller/MuseumController.js"></script> 
	<script src="js/controller/GalleryController.js"></script>
	<script src="js/controller/ExhibitController.js"></script>
	<script src="js/controller/ContentController.js"></script>
	<script src="js/controller/EventController.js"></script>
	<script src="js/controller/BeaconController.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<!--Navigation Drawer -->
    <body ng-app="virgil">
      <!--Tool bar-->
      <div class="toolbar">
        <div class="top-bar">
            <ul>
              <li><a href="#" class="last">Clients</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="sp">
          <nav class="navigation-drawer">
            <h1>Menu</h1>
            <span>Museum Info</span>
            <span>Galleries</span>
            <span>Exhibits</span>
            <span>Exhibit Content</span>
            <span>Events</span>
            <span>Beacons</span>
          </nav>
        </div>
      </div>

    <div class="page-content">

      <!--Top bar-->
      <div class="
				  ">
        <div class="panels">
                  <!--General Museum Content-->
                  <div class="panel museum" ng-controller="MuseumController" ng-init="initializeForm()">
                    <div class="pnl_content">
                          <form name="museumForm" novalidate>
                            <div class="form_intro">
                              <h1>Museum Information</h1>
                              <p>Please fill out museum information.</p>
                            </div><!--End of Form Intro-->

							  
					<!--     <div class="dropdown-group">
                          <div  id="dl_museum" class="dropdown">
                              <button type="button" class="dropbtn">Select to Edit a Museum</button>
                                <div class="dropdown-content" role="menu">
									{{ message }}
                                </div>
                          </div>
                        </div> -->
							  
							  
							  
							  <p>Select a museum to edit</p>
							  <select ng-model="Museum.myMuseums" 
							   ng-options="Museum.museumName for Museum in Museums track by Museum.id"
                 ng-change="onMuseumSelectChange()" class="dropSelect">
							  </select>
 
                            <!--Museum name and address-->
                            <div class="group">
                              <input name="museumName" type="text"
                               ng-model="Museum.myMuseums.museumName"
                               ng-required="true" id="museumName">

                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Museum Name</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumName.$invalid &&
                                museumForm.museumName.$touched">
                                You must fill out a museum name</p>
                            </div>

                            <div class="group">
                              <input name="address" type="text"
                              ng-model="Museum.myMuseums.address"
                              ng-required="true"
							  id="address">
                                  <span class="highlight"></span>
                                  <span class="bar"></span>
                                  <label>Street address</label>
                                  <p class="error validationerror"
                                  ng-show="museumForm.address.$invalid &&
                                  museumForm.address.$touched">
                                  You must enter a street address.</p>
                            </div>

                            <div class="group">
                              <input name="museumCity" type="text"
                              ng-model="Museum.myMuseums.museumCity"
                              ng-required="true"
							  id="museumCity">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>City</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumCity.$invalid &&
                                museumForm.museumCity.$touched">You must enter a city.</p>
                            </div>

                            <div class="group">
                              <input name="museumState" type="text"
                               ng-model="Museum.myMuseums.museumState"
                               ng-required="true"
							   id="museumState">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>State</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumState.$invalid &&
                                museumForm.museumState.$touched">You must enter a state.</p>
                            </div>

                            <div class="group">
                              <input name="museumZipcode" type="text"
                               ng-model="Museum.myMuseums.museumZipcode"
                               ng-required="true"
							   id="museumZipcode">
								
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Zipcode</label>
                              <p class="error validationerror"
                              ng-show="museumForm.museumZipcode.$invalid &&
                              museumForm.museumZipcode.$touched">You must enter a zipcode.</p>
                            </div>

                            <!--Museum Hours-->
                            <div class="museum_hours">

                               <div class="hours">
                               <p>Sunday hours: </p><br>
                                <input name="museumSundayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumSundayHoursOpen"
							    id="museumSundayHoursOpen" class="first">
                             	
                                <input name="museumSundayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumSundayHoursClose"
                                id="museumSundayHoursClose" class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumSundayHoursOpen.$dirty &&
                                museumForm.museumSundayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>	
                              </div>

                              <div class="hours">
                                <p>Monday hours: </p><br>
                                <input name="museumMondayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumMondayHoursOpen"
							    id="museumMondayHoursOpen" class="first">

                                <input name="museumMondayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumMondayHoursClose"
							    id="museumMondayHoursClose" class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumMondayHoursOpen.$dirty &&
                                museumForm.museumMondayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Tuesday hours: </p><br>
                                <input name="museumTuesdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumTuesdayHoursOpen"
							    id="museumTuesdayHoursOpen" class="first">

                                <input name="museumTuesdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumTuesdayHoursClose"
								class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumTuesdayHoursOpen.$dirty &&
                                museumForm.museumTuesdayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Wednesday hours: </p><br>
                                <input name="museumWednesdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumWednesdayHoursOpen"
							    class="first">

                                <input name="museumWednesdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumWednesdayHoursClose"
							    class="second">
                                <p class="error validationerror"
                                ng-show="museumForm.museumWednesdayHoursOpen.$dirty &&
                                museumForm.museumTuesdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Thursday hours: </p><br>
                                <input name="museumThursdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumThursdayHoursOpen"
							    class="first">

                                <input name="museumThursdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumThursdayHoursClose"
							    class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumThursdayHoursOpen.$dirty &&
                                museumForm.museumThursdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Friday hours: </p><br>
                                <input name="museumFridayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumFridayHoursOpen"
							    class="first">

                                <input name="museumFridayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumFridayHoursClose"
							    class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumFridayHoursOpen.$dirty &&
                                museumForm.museumFridayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Saturday hours: </p><br>
                                <input name="museumSaturdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumSaturdayHoursOpen"
							    class="first">

                                <input name="museumSaturdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumSaturdayHoursClose"
							    class="second">
                                <p class="error validationerror"
                                ng-show="museumForm.museumSaturdayHoursOpen.$dirty &&
                                museumForm.museumSaturdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>
                               <!--End of museum hours-->


                              <div class="picture">
                                <input id="musuemMap" name="museumMap" type="file" accept="image/*"
                                ng-model="Museum.myMuseums.museumMap"
                                 onchange="angular.element(this).scope().uploadFile(this)">
                              </div>

								
                              <div class="picture">
                                <input name="museumThumbnail" type="file" accept="image/*"
                                ng-model="Museum.myMuseums.museumThumbnail">
                              </div>

								
                              <input class="btn" type="submit" ng-disabled="museumForm.$invalid"
									 ng-click="add()" value="Add Museum">
							
							  <input class="btn" type="submit" ng-disable="museumForm.$invalid"
									 ng-click="update()" value="Update Museum">
								
							  <input class="btn" type="submit" ng-disabled="museumForm.$invalid" value="Delete museum"
                                     ng-click="delete()">

                <input class="btn" type="submit" ng-disabled="museumForm.$invalid" value="Add museum map or thumbnail"
                                     ng-click="addContent()" >
                 
                            </div> <!--End of General Museum Hours -->
                          </form> <!--End of Form-->
                        </div>
                  </div> <!--end of general museum content-->


                    <!--Gallery Content-->

			
                  <div class="panel gallery" ng-controller="GalleryController" ng-init="initializeGallery()">
                    <div class="pnl_content">
                        <form name="galleryForm" novalidate>
                          <div class="form_intro">
                            <h1>Gallery Information</h1>
                            <p>Please fill out gallery information.</p> 
                          </div><!--End of Form Intro-->
							
						 <p>Select a Gallery to edit</p>	
						
	
						<select ng-model="Gallery.selectedGallery" 
							   ng-options="Gallery.galleryName for Gallery in Galleries track by Gallery.id"
								ng-change="onGallerySelectChange()" class="dropSelect">
							  </select>	

                        <!--Gallery Name and Content-->
                        <div id="pnl_gallery">
                              <div class="group">
								  
                                <input name="galleryName" type="text"
                                ng-model="Gallery.selectedGallery.galleryName"
                                ng-required="true">

                                  <span class="highlight"></span>
                                  <span class="bar"></span>
                                  <label>Gallery Title</label>
                                  <p
                                  class="error validationerror"
                                  ng-show="galleryForm.galleryName.$invalid &&
                                  galleryForm.galleryName.$touched">
                                  You must fill out the name of the gallery</p>
                              </div>

                                 <div class="group">
                                   <input name="galleryDescription" type="text"
                                   ng-model="Gallery.selectedGallery.galleryDescription"
                                   ng-required="true">

                                     <span class="highlight"></span>
                                     <span class="bar"></span>
                                     <label>Gallery Description</label>
                                     <p
                                     class="error validationerror"
                                     ng-show="galleryForm.galleryDescription.$invalid &&
                                     galleryForm.galleryDescription.$touched">You must fill out the description of the gallery</p>
                                  </div>

                                  <div class="picture">
                                    <input name="gallery_image" type="file" accept="image/*"
                                    ng-model="Gallery.selectedGallery.image">
                                  </div>
                            </div> <!--end of gallery_panel-->

                 		
                              <input class="btn" type="submit" ng-disabled="galleryForm.$invalid"
									 ng-click="addGallery()" value="Add Gallery">
							
							  <input class="btn" type="submit" ng-disable="galleryForm.$invalid"
									 ng-click="updateGallery()" value="Update Gallery">
								
							  <input class="btn" type="submit" ng-disabled="galleryForm.$invalid" value="Delete Gallery" ng-click="deleteGallery()">
                 <input class="btn" type="submit" value="Sync Gallery" ng-click="sync()">
                          </form>
                        </div>
                  </div><!--end of gallery content-->


                    <!--Exhibit Content-->
                  <div class="panel exhibit" ng-controller="ExhibitController">
                    <div class="pnl_content">
                    <form name="exhibitForm" ng-submit="add()" novalidate>
                      <div class="form_intro">
                        <h1>Exhibit Information</h1>
                        <p>Please fill out information about each exhibit.</p>
						<p ng-show="message">{{ message }}</p>  
                      </div><!--End of Form Intro-->

                    <div class="dropdown-group">
                      <select ng-model="Exhibit" 
                 ng-options="Exhibit.exhibitTitle for Exhibit in Exhibits track by Exhibit.id"
                ng-change="onExhibitSelectChange()" class="dropSelect">
                </select> 

                      <div id="dl_exhibit" class="dropdown">
                        <button class="dropbtn">Select to Edit Existing Exhibits</button>
                            <div class="dropdown-content">
                              <p>Select Exhibit</p>
                              <p>Select exhibit</p>
                            </div>
                          </div> <!--close dropdown-->
                      </div>

                          <div id="pnl_inner_exhibit">
                                <div class="group">
                                  <input name="exhibitTitle" type="text"
                                  ng-model="Exhibit.exhibitTitle"
                                  ng-required="true">

                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Exhibit Title</label>
                                    <p
                                    class="error validationerror"
                                    ng-show="exhibitForm.exhibitTitle.$invalid &&
                                     exhibitForm.exhibitTitle.$touched">You must enter a title</p>
                                 </div>

                                 <div class="group">
                                   <input name="exhibitDescription" type="text"
                                   ng-model="Exhibit.exhibitDescription"
                                   ng-required="true">

                                     <span class="highlight"></span>
                                     <span class="bar"></span>
                                     <label>Exhibit Description</label>
                                     <p
                                     class="error validationerror"
                                     ng-show="exhibitForm.exhibitDescription.$invalid &&
                                      exhibitForm.exhibitDescription.$touched">
                                      You must enter content description</p>
                                  </div>

                            <div class="submit_btn">
                              <input class="btn" type="submit" value="Add Exhibit" ng-disabled="exhibitForm.$invalid">
                             <input class="btn" type="submit" value="Delete Exhibit">
                              <input class="btn" type="submit" value="Sync Exhibit" ng-click="sync()">
                            </div><!--Close panel-->

                          </div>
                          </form>
                    </div><!--panel content-->
                  </div><!--end of exhibit content-->

        <!--Exhibit Content-->
      <div class="panel content" ng-controller="ContentController">
        <div class="pnl_content">
          <form name="contentForm" ng-submit="add()" novalidate>

        <div class="form_intro">
          <h1>Exhibit Content Information</h1>
          <p>Please fill out information about the content of each exhibit.</p>
		  <p ng-show="message">{{ message }}</p> 	
        </div><!--End of Form Intro-->

        <div class="dropdown-group">

        <div id="dl_gallery_exhibit"  class="dropdown">
          <button class="dropbtn">Select to Edit Existing Galleries</button>
            <div class="dropdown-content">
              <p>Select gallery to edit</p>
              <p>Select gallery</p>
            </div>
        </div>

        <div id="dl_exhibit" class="dropdown">
          <button class="dropbtn">Select to Edit Existing Exhibits</button>
              <div class="dropdown-content">
                <p>Select Exhibit</p>
                <p>Select exhibit</p>
              </div>
            </div> <!--close dropdown-->

          <div id="dl_content" class="dropdown">
                <button class="dropbtn">Select to Edit Existing Content</button>
                  <div class="dropdown-content">
                    <p>Select content</p>
                    <p>Select content</p>
                  </div>
          </div>
        </div>


        <div class="pnl_content">
            <div class="group">
				
              <input name="contentTitle" type="text"
               ng-model="Content.contentTitle"
               ng-required="true">

                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Content Title</label>
                <p
                class="error validationerror"
                ng-show="contentForm.contentTitle.$invalid &&
                 contentForm.contentTitle.$touched">
                 You must enter a title for the content</p>
           </div>

           <div class="group">
             <input name="contentDescription" type="text"
             ng-model="Content.contentDescription"
             ng-required="true">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Content Description</label>
               <p
               class="error validationerror"
               ng-show="contentForm.contentDescription.$invalid &&
                contentForm.contentDescription.$touched">
                You must enter a content description.</p>
           </div>

          <div class="picture">
             <input name="museum_image" type="file" accept="image/*"
             ng-mode="Content.image">
           </div>

          <div class="submit_btn">
           <input class="btn" type="submit" value="Add Content" ng-disabled="contentForm.$invalid">
           <input class="btn" type="submit" value="Delete Content">
         </div>
        </div> <!--Closes the content-->
        </form>
        </div><!--panel content-->
      </div><!--end of exhibit content-->

        <!--Event Content-->
          <div class="panel event" ng-controller="EventController">
            <div class="pnl_content">
               <form name="eventForm" ng-submit="add()" novalidate>
                 <div class="form_intro">
                   <h1>Event Information</h1>
                   <p>Please fill out information about event.</p>
				   <p ng-show="message">{{ message }}</p>	 
                 </div>

               <div class="dropdown-group">
                 <div id="dl_gallery_event" class="dropdown">
                   <class class="dropbtn">Select Event</button>
                     <div class="dropdown-content">
                       <p>Event</p>
                     </div>
                 </div>
               </div>

             <div id="pnl_event_inner">
               <div class="group">
                   <input name="eventTitle" type="text"
                   ng-model="Event.eventTitle"
                   ng-required="true">

                     <span class="highlight"></span>
                     <span class="bar"></span>
                     <label>Event Title</label>
                     <p
                     class="error validationerror"
                     ng-show="eventForm.eventTitle.$invalid &&
                      eventForm.eventTitle.$touched">You must enter an event title</p>
                  </div>


                  <div class="hours">
                    <p>Hours: </p><br>
                    <input name="startTime" type="time"
                    ng-model="Event.startTime"
                    ng-required="true">

                    <input name="endTime" type="time" ng-model="Event.endTime"
                    ng-required="true">

                    <p
                    class="error validationerror"
                    ng-show="eventForm.startTime.$invalid &&
                     eventForm.startTime.$touched && eventFrom.endTime.$invalid
                     && eventForm.endTime.$touched">
                     Must enter both a start and stop time.</p>
                  </div>

                  <div class="hours">
                    <p>Date: </p><br>
                    <input name="date" type="date"
                    ng-model="Event.date"
                    ng-required="true">

                    <p
                    class="error validationerror"
                    ng-show="eventForm.date.$invalid &&
                     eventForm.date.$touched">
                     Must enter a date.</p>
                  </div>

                  <div class="group">
                    <input name="eventDescription" type="text"
                    ng-model="Event.eventDescription"
                    ng-required="true">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Event Description</label>
                      <p
                      class="error validationerror"
                      ng-show="eventForm.eventDescription.$invalid &&
                      eventForm.eventDescription.$touched">
                      You must enter event description</p>
                   </div>
                </div>


             <div class="group">
               <input name="eventStreet" type="text"
               ng-model="Event.eventStreet"
               ng-required="true">
                   <span class="highlight"></span>
                   <span class="bar"></span>
                   <label>Street address</label>
                   <p
                   class="error validationerror"
                   ng-show="eventForm.eventStreet.$invalid &&
                   eventForm.eventStreet.$touched">You must enter a street address.</p>
             </div>

             <div class="group">
               <input name="eventCity" type="text"
               ng-model="Event.eventCity"
               ng-required="true">
                 <span class="highlight"></span>
                 <span class="bar"></span>
                 <label>City</label>
                 <p
                 class="error validationerror"
                 ng-show="eventForm.eventCity.$invalid &&
                 eventForm.eventCity.$touched">You must enter a city.</p>
             </div>

             <div class="group">
               <input name="eventState" type="text"
               ng-model="Event.eventState"
               ng-required="true">
                 <span class="highlight"></span>
                 <span class="bar"></span>
                 <label>State</label>
                 <p
                 class="error validationerror"
                 ng-show="eventForm.eventState.$invalid &&
                 eventForm.eventState.$touched">You must enter a state.</p>
             </div>

             <div class="group">
               <input name="eventZipcode" type="text"
               ng-model="Event.eventZipcode"
               ng-required="true">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Zipcode</label>
               <p
               class="error validationerror"
               ng-show="eventForm.eventZipcode.$invalid &&
               eventForm.eventZipcode.$touched">You must enter a zipcode.</p>
             </div>

            <div class="submit_btn">
             <input class="btn" type="submit" value="Add Event" ng-disabled="eventForm.$invalid">
             <input class="btn" type="submit" value="Delete Event">
            </div>
            </form>
            </div>
          </div>

  <!--beacon content-->
  <div class="panel beacon" ng-controller="BeaconController">
    <div class="pnl_content">
      <form name="beaconForm" ng-submit="add()" novalidate>

        <div class="form_intro">
          <h1>Beacon Information</h1>
          <p>Please fill out beacon information.</p>
		  <p ng-show="message">{{ message }}</p>	
        </div><!--End of Form Intro-->

    <div class="dropdown-group">
        <div id="dl_gallery_beacon" class="dropdown">
          <button class="dropbtn">Select Gallery to Edit</button>
            <div class="dropdown-content">
              <p>Gallery</p>
              <p>Gallery Content</p>
            </div>
        </div>

        <div id="dl_exhibit_beacon" class="dropdown">
          <button class="dropbtn">Select Exhibit to Edit</button>
            <div class="dropdown-content">
              <p>Exhibit</p>
              <p>Exhibit Content</p>
          </div>
        </div>

        <div id="dl_content_beacon" class="dropdown">
          <button class="dropbtn">Select Beacon to Edit</button>
            <div class="dropdown-content">
              <p>Content</p>
              <p>Content</p>
          </div>
        </div>
      </div>


          <div class="pnl_content">
              <div class="group">
                <input name="beaconContentTitle" type="text"
                ng-model="Beacon.beaconContentTitle"
                ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Content Title</label>
                  <p
                  class="error validationerror"
                  ng-show="beaconForm.beaconContentTitle.$invalid &&
                  beaconForm.beaconContentTitle.$touched">You must enter a title for the content</p>
             </div>

             <div class="group">
               <input name="beaconContentDescription" type="text"
               ng-model="Beacon.beaconContentDescription"
               ng-required="true">
                 <span class="highlight"></span>
                 <span class="bar"></span>
                 <label>Content Description</label>
                 <p
                 class="error validationerror"
                 ng-show="beaconForm.beaconContentDescription.$invalid &&
                 beaconForm.beaconContentDescription.$touched">You must enter a content description.</p>
             </div>

               <div class="picture">
               <input name="beaconImage" type="file" accept="image/*"
               ng-model="Beacon.beaconImage">
             </div>
          </div> <!--Closes the content-->

        <div class="submit_btn">
          <input class="btn" type="submit" value="Add Beacon" ng-disabled="beaconForm.$invalid">
          <input class="btn" type="submit" value="Delete Beacon">
          </form>
        </div><!--panels content-->
      </div><!--end of beacons content-->

        <!--end of main page content-->
      </div><!--end panel content-->
    </div>
  </div>

  </body>
</html>
