<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8">
  <title>Virgil: Curate your mobile museum experience</title>
    <meta name="cms_content" content="width=device-width, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,700,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">  
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/panels.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/virgil.js"></script>
	<script src="js/controller/MuseumController.js"></script> 
	<script src="js/controller/GalleryController.js"></script>
	<script src="js/controller/ExhibitController.js"></script>
	<script src="js/controller/ContentController.js"></script>
	<script src="js/controller/EventController.js"></script>
	<script src="js/controller/BeaconController.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>

<!--Navigation Drawer -->
    <body ng-app="virgil">
      <!--Tool bar-->
      <div class="toolbar">
        <div class="top-bar">
            <ul>
              <li><a href="#" class="last">Clients</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="sp">
          <nav class="navigation-drawer">
            <h1>Menu</h1>
            <span>Museum Info</span>
            <span>Galleries</span>
            <span>Exhibits</span>
            <span>Exhibit Content</span>
            <span>Events</span>
            <span>Beacons</span>
          </nav>
        </div>
      </div>

    <div class="page-content">

      <!--Top bar-->
      <div class="
				  ">
        <div class="panels">
                  <!--General Museum Content-->
                  <div class="panel museum" ng-controller="MuseumController" ng-init="initializeForm()">
                    <div class="pnl_content">
                          <form name="museumForm" novalidate>
                            <div class="form_intro">
                              <h1>Museum Information</h1>
                              <p>Please fill out museum information.</p>
                            </div><!--End of Form Intro-->

							  
					<!--     <div class="dropdown-group">
                          <div  id="dl_museum" class="dropdown">
                              <button type="button" class="dropbtn">Select to Edit a Museum</button>
                                <div class="dropdown-content" role="menu">
									{{ message }}
                                </div>
                          </div>
                        </div> -->
							  
							  
							  
							  <p>Select a museum to edit</p>
							  <select ng-model="Museum.myMuseums" 
							   ng-options="Museum.museumName for Museum in Museums track by Museum.id"
                 ng-change="onMuseumSelectChange()" class="dropSelect">
							  </select>
 
                            <!--Museum name and address-->
                            <div class="group">
                              <input name="museumName" type="text"
                               ng-model="Museum.myMuseums.museumName"
                               ng-required="true" id="museumName">

                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Museum Name</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumName.$invalid &&
                                museumForm.museumName.$touched">
                                You must fill out a museum name</p>
                            </div>

                            <div class="group">
                              <input name="address" type="text"
                              ng-model="Museum.myMuseums.address"
                              ng-required="true"
							  id="address">
                                  <span class="highlight"></span>
                                  <span class="bar"></span>
                                  <label>Street address</label>
                                  <p class="error validationerror"
                                  ng-show="museumForm.address.$invalid &&
                                  museumForm.address.$touched">
                                  You must enter a street address.</p>
                            </div>

                            <div class="group">
                              <input name="museumCity" type="text"
                              ng-model="Museum.myMuseums.museumCity"
                              ng-required="true"
							  id="museumCity">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>City</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumCity.$invalid &&
                                museumForm.museumCity.$touched">You must enter a city.</p>
                            </div>

                            <div class="group">
                              <input name="museumState" type="text"
                               ng-model="Museum.myMuseums.museumState"
                               ng-required="true"
							   id="museumState">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>State</label>
                                <p class="error validationerror"
                                ng-show="museumForm.museumState.$invalid &&
                                museumForm.museumState.$touched">You must enter a state.</p>
                            </div>

                            <div class="group">
                              <input name="museumZipcode" type="text"
                               ng-model="Museum.myMuseums.museumZipcode"
                               ng-required="true"
							   id="museumZipcode">
								
                              <span class="highlight"></span>
                              <span class="bar"></span>
                              <label>Zipcode</label>
                              <p class="error validationerror"
                              ng-show="museumForm.museumZipcode.$invalid &&
                              museumForm.museumZipcode.$touched">You must enter a zipcode.</p>
                            </div>

                            <!--Museum Hours-->
                            <div class="museum_hours">

                               <div class="hours">
                               <p>Sunday hours: </p><br>
                                <input name="museumSundayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumSundayHoursOpen"
							    id="museumSundayHoursOpen" class="first">
                             	
                                <input name="museumSundayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumSundayHoursClose"
                                id="museumSundayHoursClose" class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumSundayHoursOpen.$dirty &&
                                museumForm.museumSundayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>	
                              </div>

                              <div class="hours">
                                <p>Monday hours: </p><br>
                                <input name="museumMondayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumMondayHoursOpen"
							    id="museumMondayHoursOpen" class="first">

                                <input name="museumMondayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumMondayHoursClose"
							    id="museumMondayHoursClose" class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumMondayHoursOpen.$dirty &&
                                museumForm.museumMondayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Tuesday hours: </p><br>
                                <input name="museumTuesdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumTuesdayHoursOpen"
							    id="museumTuesdayHoursOpen" class="first">

                                <input name="museumTuesdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumTuesdayHoursClose"
								class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumTuesdayHoursOpen.$dirty &&
                                museumForm.museumTuesdayHoursClose.$untouched">
                                  Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Wednesday hours: </p><br>
                                <input name="museumWednesdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumWednesdayHoursOpen"
							    class="first">

                                <input name="museumWednesdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumWednesdayHoursClose"
							    class="second">
                                <p class="error validationerror"
                                ng-show="museumForm.museumWednesdayHoursOpen.$dirty &&
                                museumForm.museumTuesdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Thursday hours: </p><br>
                                <input name="museumThursdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumThursdayHoursOpen"
							    class="first">

                                <input name="museumThursdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumThursdayHoursClose"
							    class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumThursdayHoursOpen.$dirty &&
                                museumForm.museumThursdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Friday hours: </p><br>
                                <input name="museumFridayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumFridayHoursOpen"
							    class="first">

                                <input name="museumFridayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumFridayHoursClose"
							    class="second">

                                <p class="error validationerror"
                                ng-show="museumForm.museumFridayHoursOpen.$dirty &&
                                museumForm.museumFridayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>

                              <div class="hours">
                                <p>Saturday hours: </p><br>
                                <input name="museumSaturdayHoursOpen" type="text"
                                ng-model="Museum.myMuseums.museumSaturdayHoursOpen"
							    class="first">

                                <input name="museumSaturdayHoursClose" type="text"
                                ng-model="Museum.myMuseums.museumSaturdayHoursClose"
							    class="second">
                                <p class="error validationerror"
                                ng-show="museumForm.museumSaturdayHoursOpen.$dirty &&
                                museumForm.museumSaturdayHoursClose.$untouched">
                                Enter both a start and stop time.</p>
                              </div>
                               <!--End of museum hours-->


                              <div class="picture">
                                <p>Choose an image to be the map of the museum </p>
                               <input data-file id="id_image" name="image" ng-model="museumMap" type="file">
                              </div>

								
                              <div class="picture">
                                <p>Choose an image to be the museum thumbnail </p>
                                <input data-file name="museumThumbnail" type="file" accept="image/*"
                                ng-model="museumThumbnail">
                              </div>

                                
                              <input class="btn" type="submit" ng-disabled="museumForm.$invalid"
									 ng-click="addMuseum()" value="Add Museum">
							
							  <input class="btn" type="submit" ng-disable="museumForm.$invalid"
									 ng-click="updateMuseum()" value="Update Museum">
								
							  <input class="btn" type="submit" ng-disabled="museumForm.$invalid" value="Delete museum"
                                     ng-click="deleteMuseum()">

                <input class="btn" type="submit" ng-disabled="museumForm.$invalid" value="Add museum map or thumbnail"
                                     ng-click="addContent()" >
                 
                            </div> <!--End of General Museum Hours -->
                          </form> <!--End of Form-->
                        </div>
                  </div> <!--end of general museum content-->


                    <!--Gallery Content-->

			
                  <div class="panel gallery" ng-controller="GalleryController" ng-init="initializeGallery()">
                    <div class="pnl_content">
                        <form name="galleryForm" novalidate>
                          <div class="form_intro">
                            <h1>Gallery Information</h1>
                            <p>Please fill out gallery information.</p> 
                          </div><!--End of Form Intro-->
							
						 <p>Select a Gallery to edit</p>	
						
	
						<select ng-model="Gallery.selectedGallery" 
							   ng-options="Gallery.galleryName for Gallery in Galleries track by Gallery.id"
								ng-change="onGallerySelectChange()" class="dropSelect">
							  </select>	

                        <!--Gallery Name and Content-->
                        <div id="pnl_gallery">
                              <div class="group">
								  
                                <input name="galleryName" type="text"
                                ng-model="Gallery.selectedGallery.galleryName"
                                ng-required="true">

                                  <span class="highlight"></span>
                                  <span class="bar"></span>
                                  <label>Gallery Title</label>
                                  <p
                                  class="error validationerror"
                                  ng-show="galleryForm.galleryName.$invalid &&
                                  galleryForm.galleryName.$touched">
                                  You must fill out the name of the gallery</p>
                              </div>

                                 <div class="group">
                                   <input name="galleryDescription" type="text"
                                   ng-model="Gallery.selectedGallery.galleryDescription"
                                   ng-required="true">

                                     <span class="highlight"></span>
                                     <span class="bar"></span>
                                     <label>Gallery Description</label>
                                     <p
                                     class="error validationerror"
                                     ng-show="galleryForm.galleryDescription.$invalid &&
                                     galleryForm.galleryDescription.$touched">You must fill out the description of the gallery</p>
                                  </div>

                                  <div class="picture">
                                    <input data-file id="id_image" name="gallery_image" ng-model="galleryImage" type="file">
                                  </div>
                            </div> <!--end of gallery_panel-->

                 		
                              <input class="btn" type="submit" ng-disabled="galleryForm.$invalid"
									 ng-click="addGallery()" value="Add Gallery">
							
							  <input class="btn" type="submit" ng-disable="galleryForm.$invalid"
									 ng-click="updateGallery()" value="Update Gallery">
								
							  <input class="btn" type="submit" ng-disabled="galleryForm.$invalid" value="Delete Gallery" ng-click="deleteGallery()">
                 <input class="btn" type="submit" value="Sync Gallery" ng-click="syncGallery()">
                 <input class="btn" type="submit" value="Add Gallery Thumbnail" ng-click="addGalleryThumbnail()">
                          </form>
                        </div>
                  </div><!--end of gallery content-->


                    <!--Exhibit Content-->
                  <div class="panel exhibit" ng-controller="ExhibitController" ng-init="initialize()">
                    <div class="pnl_content">
                    <form name="exhibitForm" ng-submit="add()" novalidate>
                      <div class="form_intro">
                        <h1>Exhibit Information</h1>
                        <p>Please fill out information about each exhibit.</p>
						<p ng-show="message">{{ message }}</p>  
                      </div><!--End of Form Intro-->

                    <div class="dropdown-group">
                      <select ng-model="Exhibit" 
                 ng-options="Exhibit.exhibitName for Exhibit in Exhibits track by Exhibit.id"
                ng-change="onExhibitSelectChange()" class="dropSelect">
                </select> 

<!--
                      <div id="dl_exhibit" class="dropdown">
                        <button class="dropbtn">Select to Edit Existing Exhibits</button>
                            <div class="dropdown-content">
                              <p>Select Exhibit</p>
                              <p>Select exhibit</p>
                            </div>
                          </div> <!--close dropdown-->
                      </div>

                          <div id="pnl_inner_exhibit">
                                <div class="group">
                                  <input name="exhibitName" type="text"
                                  ng-model="Exhibit.exhibitName"
                                  ng-required="true">

                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Exhibit Title</label>
                                    <p
                                    class="error validationerror"
                                    ng-show="exhibitForm.exhibitName.$invalid &&
                                     exhibitForm.exhibitName.$touched">You must enter a title</p>
                                 </div>

                                 <div class="group">
                                   <input name="exhibitDescription" type="text"
                                   ng-model="Exhibit.exhibitDescription"
                                   ng-required="true">

                                     <span class="highlight"></span>
                                     <span class="bar"></span>
                                     <label>Exhibit Description</label>
                                     <p
                                     class="error validationerror"
                                     ng-show="exhibitForm.exhibitDescription.$invalid &&
                                      exhibitForm.exhibitDescription.$touched">
                                      You must enter content description</p>
                                  </div>

                            <div class="submit_btn">
                              <input class="btn" type="submit" value="Add Exhibit" ng-click="addExhibit()" ng-disabled="exhibitForm.$invalid">
                              <input class="btn" type="submit" value="Update Exhibit" ng-click="updateExhibit()">
                             <input class="btn" type="submit" value="Delete Exhibit" ng-click="deleteExhibit()">
                              <input class="btn" type="submit" value="Sync Exhibit" ng-click="syncExhibit()">
                            </div><!--Close panel-->

                          </div>
                          </form>
                    </div><!--panel content-->
                  </div><!--end of exhibit content-->

        <!--Exhibit Content-->
      <div class="panel content" ng-controller="ContentController" >
        <div class="pnl_content">
          <form name="contentForm" ng-submit="add()" novalidate>

        <div class="form_intro">
          <h1>Exhibit Content Information</h1>
          <p>Please fill out information about the content of each exhibit.</p>
		  <p ng-show="message">{{ message }}</p> 	
        </div><!--End of Form Intro-->

        <div class="dropdown-group">

         <select ng-model="ContentObjects"
                 ng-options="Content.pathToContent for Content in ContentObjects track by Content.id"
                 ng-change="onContentObjectSelectChange()" class="dropSelect">
                </select>
        </div>


        <div class="pnl_content">
            <div class="group">
				
              <input name="contentTitle" type="text"
               ng-model="Content.contentTitle"
               ng-required="true">

                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Content Title</label>
                <p
                class="error validationerror"
                ng-show="contentForm.contentTitle.$invalid &&
                 contentForm.contentTitle.$touched">
                 You must enter a title for the content</p>
           </div>

           <div class="group">
             <input name="contentDescription" type="text"
             ng-model="Content.contentDescription"
             ng-required="true">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Content Description</label>
               <p
               class="error validationerror"
               ng-show="contentForm.contentDescription.$invalid &&
                contentForm.contentDescription.$touched">
                You must enter a content description.</p>
           </div>

          <div class="picture">
             <input name="museum_image" type="file" accept="image/*"
             ng-mode="Content.image">
           </div>

          <div class="submit_btn">
           <input class="btn" type="submit" value="Add Content" ng-disabled="contentForm.$invalid">
           <input class="btn" type="submit" value="Delete Content">
           <input class="btn" type="submit" ng-disabled="museumForm.$invalid" value="Add museum map or thumbnail"
                                     ng-click="syncContent()" >
         </div>
        </div> <!--Closes the content-->
        </form>
        </div><!--panel content-->
      </div><!--end of exhibit content-->

        <!--Event Content-->
          <div class="panel event" ng-controller="EventController">
            <div class="pnl_content">
               <form name="eventForm" ng-submit="add()" novalidate>
                 <div class="form_intro">
                   <h1>Event Information</h1>
                   <p>Please fill out information about event.</p>
				   <p ng-show="message">{{ message }}</p>	 
                 </div>

               <select ng-model="selectedEvent" 
                 ng-options="Event.description for Event in Events track by Event.id"
                 ng-change="onEventSelectChange()" class="dropSelect">
                </select>

             <div id="pnl_event_inner">
               
                  <div class="hours">
                               <p>Start and End times: </p><br>
                                <input name="EventStartHours" type="text"
                                ng-model="selectedEvent.startTime"
                  id="museumSundayHoursOpen" class="first">
                              
                                <input name="EventEndHours" type="text"
                                ng-model="selectedEvent.endTime"
                                id="eventEndHours" class="second">

                                <p class="error validationerror">
                                  Enter both a start and stop time.</p> 
                              </div>

                  <div class="group">
                    <input name="eventDescription" type="text"
                    ng-model="selectedEvent.description"
                    ng-required="true">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Event Description</label>
                      <p
                      class="error validationerror"
                      ng-show="eventForm.eventDescription.$invalid &&
                      eventForm.eventDescription.$touched">
                      You must enter event description</p>
                   </div>
                </div>


            <div class="submit_btn">
             <input class="btn" type="submit" value="Add Event" ng-disabled="eventForm.$invalid" ng-click="addEvent()">
             <input class="btn" type="submit" value="Delete Event" ng-click="deleteEvent()">
             <input class="btn" type="submit" value="Sync Events" ng-click="syncEvents()">
            </div>
            </form>
            </div>
          </div>

  <!--beacon content-->
  <div class="panel beacon" ng-controller="BeaconController">
    <div class="pnl_content">
      <form name="beaconForm" ng-submit="add()" novalidate>

        <div class="form_intro">
          <h1>Beacon Information</h1>
          <p>Please fill out beacon information.</p>
		  <p ng-show="message">{{ message }}</p>	
        </div><!--End of Form Intro-->


        <div id="dl_content_beacon" class="dropdown">
          <select ng-model="Beacon.selectedBeacon" 
                 ng-options="Beacon.title for Beacon in Beacons track by Beacon.id"
                 ng-change="onBeaconSelectChange()" class="dropSelect">
                </select>
        </div>
      </div>

          <div class="pnl_content">
              <div class="group">
                <input name="beaconMinorValue" type="text"
                ng-model="Beacon.minor"
                ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Beacon Minor Value</label>
                  <p
                  class="error validationerror"
                  ng-show="beaconForm.beaconContentTitle.$invalid &&
                  beaconForm.beaconContentTitle.$touched">You must enter a title for the content</p>
             </div>
          <div class="pnl_content">
              <div class="group">
                <input name="beaconContentTitle" type="text"
                ng-model="Beacon.beaconContentTitle"
                ng-required="true">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Content Title</label>
                  <p
                  class="error validationerror"
                  ng-show="beaconForm.beaconContentTitle.$invalid &&
                  beaconForm.beaconContentTitle.$touched">You must enter a title for the content</p>
             </div>

             <div class="group">
               <input name="beaconContentDescription" type="text"
               ng-model="Beacon.beaconContentDescription"
               ng-required="true">
                 <span class="highlight"></span>
                 <span class="bar"></span>
                 <label>Content Description</label>
                 <p
                 class="error validationerror"
                 ng-show="beaconForm.beaconContentDescription.$invalid &&
                 beaconForm.beaconContentDescription.$touched">You must enter a content description.</p>
             </div>

               <div class="picture">
               <input data-file name="beaconImage" type="file" accept="image/*"
               ng-model="Beacon.beaconImage">
             </div>
          </div> <!--Closes the content-->

        <div class="submit_btn">
          <input class="btn" type="submit" value="Add Beacon" ng-disabled="beaconForm.$invalid" ng-click="addBeaconContent()">
          <input class="btn" type="submit" value="Delete Beacon">
           <input class="btn" type="submit" value="Sync Beacons"
                                     ng-click="syncBeacons()" >
          </form>
        </div><!--panels content-->
      </div><!--end of beacons content-->

        <!--end of main page content-->
      </div><!--end panel content-->
    </div>
  </div>

  </body>
</html>
