<div class="pnl_content">
      <form name="museumForm" novalidate>
        <div class="form_intro">
          <h1>Museum Information</h1>
          <p>Please fill out museum information.</p>
        </div><!--End of Form Intro-->

        <!--Museum name and address-->
        <div class="group">
          <input name="museumName" type="text"
           ng-model="museum.museumName"
           ng-required="true">

            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Museum Name</label>
            <p class="error validationerror"
            ng-show="museumForm.museumName.$invalid &&
            museumForm.museumName.$touched">
            You must fill out a museum name</p>
        </div>

        <div class="group">
          <input name="museumStreet" type="text"
          ng-model="museum.museumStreet"
          ng-required="true">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Street address</label>
              <p class="error validationerror"
              ng-show="museumForm.museumStreet.$invalid &&
              museumForm.museumStreet.$touched">
              You must enter a street address.</p>
        </div>

        <div class="group">
          <input name="museumCity" type="text"
          ng-model="museum.museumCity"
          ng-required="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>City</label>
            <p class="error validationerror"
            ng-show="museumForm.museumCity.$invalid &&
            museumForm.museumCity.$touched">You must enter a city.</p>
        </div>

        <div class="group">
          <input name="museumState" type="text"
           ng-model="museum.museumState"
           ng-required="true">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>State</label>
            <p class="error validationerror"
            ng-show="museumForm.museumState.$invalid &&
            museumForm.museumState.$touched">You must enter a state.</p>
        </div>

        <div class="group">
          <input name="museumZipcode" type="text"
           ng-model="museum.museumZipcode"
           ng-required="true">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Zipcode</label>
          <p class="error validationerror"
          ng-show="museumForm.museumZipcode.$invalid &&
          museumForm.museumZipcode.$touched">You must enter a zipcode.</p>
        </div>

        <!--Museum Hours-->
        <div class="museum_hours">

          <div class="hours">
            <p>Sunday hours: </p><br>
            <input name="museumSundayHoursOpen" type="time"
            ng-model="museum.museumSundayHoursOpen">

            <input name="museumSundayHoursClose" type="time"
            ng-model="museum.museumSundayHoursClose">

            <p class="error validationerror"
            ng-show="museumForm.museumSundayHoursOpen.$dirty &&
            museumForm.museumSundayHoursClose.$untouched">
            Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Monday hours: </p><br>
            <input name="museumMondayHoursOpen" type="time"
            ng-model="museum.museumMondayHoursOpen">

            <input name="museumMondayHoursClose" type="time"
            ng-model="museum.museumMondayHoursClose">

            <p class="error validationerror"
            ng-show="museumForm.museumMondayHoursOpen.$dirty &&
            museumForm.museumMondayHoursClose.$untouched">
              Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Tuesday hours: </p><br>
            <input name="museumTuesdayHoursOpen" type="time"
            ng-model="museum.museumTuesdayHoursOpen">

            <input name="museumTuesdayHoursClose" type="time"
            ng-model="museum.museumTuesdayHoursClose">

            <p class="error validationerror"
            ng-show="museumForm.museumTuesdayHoursOpen.$dirty &&
            museumForm.museumTuesdayHoursClose.$untouched">
              Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Wednesday hours: </p><br>
            <input name="museumWednesdayHoursOpen" type="time"
            ng-model="museum.museumWednesdayHoursOpen">

            <input name="museumWednesdayHoursClose" type="time"
            ng-model="museum.museumWednesdayHoursClose">
            <p class="error validationerror"
            ng-show="museumForm.museumWednesdayHoursOpen.$dirty &&
            museumForm.museumTuesdayHoursClose.$untouched">
            Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Thursday hours: </p><br>
            <input name="museumThursdayHoursOpen" type="time"
            ng-model="museum.museumThursdayHoursOpen">

            <input name="museumThursdayHoursClose" type="time"
            ng-model="museum.museumThursdayHoursClose">

            <p class="error validationerror"
            ng-show="museumForm.museumThursdayHoursOpen.$dirty &&
            museumForm.museumThursdayHoursClose.$untouched">
            Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Friday hours: </p><br>
            <input name="museumFridayHoursOpen" type="time"
            ng-model="museum.museumFridayHoursOpen">

            <input name="museumFridayHoursClose" type="time"
            ng-model="museum.museumFridayHoursClose">

            <p class="error validationerror"
            ng-show="museumForm.museumFridayHoursOpen.$dirty &&
            museumForm.museumFridayHoursClose.$untouched">
            Enter both a start and stop time.</p>
          </div>

          <div class="hours">
            <p>Saturday hours: </p><br>
            <input name="museumSaturdayHoursOpen" type="time"
            ng-model="museum.museumSaturdayHoursOpen">

            <input name="museumSaturdayHoursClose" type="time"
            ng-model="museum.museumSaturdayHoursOpen">
            <p class="error validationerror"
            ng-show="museumForm.museumSaturdayHoursOpen.$dirty &&
            museumForm.museumSaturdayHoursClose.$untouched">
            Enter both a start and stop time.</p>
          </div>
           <!--End of museum hours-->


          <div class="picture">
            <input name="museum_image" type="file" accept="image/*"
            ng-model="museum.image">
          </div>

          <input class="btn" type="submit" value="Add museum">
        </div> <!--End of General Museum Hours -->
      </form> <!--End of Form-->
    </div>
